* {
  margin: 0;
  padding: 0;
}


body {
  background-color:#dee2e4 ;
  background-image: url('../photos/2.png');
}

header {
  color: #f1f1f1;
  background-color:#daebf3 ;
  padding-top: 30px;
  padding-bottom: 25px;
  
}

header h1 {
  color: #daebf3;
  text-align: center;
}

.input{
  display: flex;
  justify-content: center;
}

h2{
  text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: -5px 5px black;
    color:rgb(108, 92, 92) ;
}

/*.dropbtn {

dee2e4


  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;

  #SearchOption {
    display: flex;
    justify-content: center;
  }

}*/
.button {
border-radius: 5px;
width: 65px;
}

.button:hover{
  background-color: bisque;
}


footer {
  text-align: center;
  background-color: #daebf3;
  padding-top: 25px;
  padding-bottom: 57px;
  margin-top: 475px;
  border-top: 8px solid #787f89
}

#logoBlock{
  display: flex;
  justify-content: left;
}

#logo {
  height: 100px;
  width: 100px;
  margin-top: -40px;
  margin-bottom: -35px;
}
#socialicons{
  display: flex;
  justify-content: right;
    margin-bottom: -18px;
    margin-top: -29px;
}
.iconSocial{
  height: 100px;
  width: 100px;
  margin-top: -40px;
  margin-bottom: -35px;
}
#git{
  height: 76px;
  width: 76px;
}

#in{
  height: 88px;
    width: 91px;
    margin-left: 3px;
}

#hidden{
  visibility: hidden;
}

